<main id="root"></main>
<script>
  $(window.initializeSAA);
</script>
<audio src="<%= asset_path('Chain_Jingle.mp3') %>" controls autoplay loop>

</audio>

<!-- src="../../assets/images/Chain_Jingle.mp3" autoplay=true -->
