<h1 class="sign-up header">Sign Up</h1>

<form class="sign-up cred-form" action="<%= users_url %>" method="post">
  <%= auth_token_input %>

  <label class="username label">
    Username
  </label>
    <input class="username field" type="text" name="user[username]" value="">

  <label class="email label">
    Email
  </label>
    <input class="email field" type="text" name="user[email]" value="">

  <label class="password label">
    Password
  </label>
    <input class="password field" type="password" name="user[password]" value="">

  <input class="submit-button" type="submit" value="Sign Up">
</form>
