/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 html, body, header, nav, h1, a, ul, li,
 strong, main, section, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
 }

 body {
   font-family: Open Sans, sans-serif;
   box-sizing: content-box;
   background: #eee;
   font-size: 16px;
 }

 ul, li {
   list-style: none;
 }

 .profile-pic {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   display: block;
 }

 .user-banner {
   position: relative;
   /*text-align: right;*/
   color: white;
 }

 .home-profile-pic {
   position: absolute;
   top: 30px;
   left: 30px;
 }

 .group:after {
   content: "";
   clear: both;
   display: block;
 }

 .page-header {
   font-weight: normal;
   font-size: 36px;
   width: 600px;
   margin: 20px 80px;
   margin-top: 0;
   padding-top: 20px;
 }

 .cred-form {
   width: 300px;
   margin: auto;
   background: #ccc;
   padding: 19px;
 }

 .label {
   display: block;
   font-weight: bold;
   padding-bottom: 5px;
 }

 .field {
   display: block;
   background: white;
   border: 1px solid #eee;
   padding: 5px;
   width: 270px;
   margin: 10px;
 }

 .submit-button {
   background: #f50;
   text-align: center;
   color: white;
   padding: 10px 20px;
   border-radius: 10px;
   box-sizing: border-box;
 }

 .all-playlists {
   width: 900px;
   margin: auto;
   padding: 20px;
 }

 .all-tracks {
   width: 840px;
   display: block;
   margin: 0 auto;
   padding: 20px;
   padding-left: 90px;
 }

 .playlist, .track-portrait {
   width: 600px;
   height: 260px;
   display: block;
   margin: auto;
   box-sizing: border-box;
 }

 .all-tracks > li {
   padding: 10px;
   cursor: pointer;
 }

 h2 {
    font-size: 12px;

  }

 .track-portrait {
   width: 180px;
   float: left;
   display: block;
   text-align: center;
 }

 .header {
   background: #333;
   color: #fff;
   border-bottom: 1px solid #ccc;
 }

 .header-nav {
   margin: 0 auto;
   width: 900px;
   border-left: 1px solid #111;
   border-right: 1px solid #111;
 }

 .header-logo {
   background: #f50;
   float: left;
   font-weight: bold;
 }

 .nav-bar {
   float: right;
 }

 .nav-bar > li {
   float: left;
   border-left: 1px solid #111;
   color: #ccc;
 }

 .header a {
   display: block;
   padding: 10px 20px;
 }

 .header a:hover {
   background: black;
   cursor: pointer;
 }

 .playlist-form-header {
   font-size: 24px;
   padding-bottom: 20px;
 }

 .playlist-form {
   margin-bottom: 20px;
 }

 .user-heading {
   /*margin: 20px;*/
   position: absolute;
   left: 250px;
   top: 30px;
   display: inline-block;
   font-weight: normal;
   font-size: 24px;
   background: black;
   padding: 4px 7px;
   opacity: 0.8;
 }

 .user-header-nav {
   margin: 0 auto;
   width: 900px;
   padding: 20px 30px;
   font-size: 18px;
   /*padding-bottom: 20px;*/
 }

 .user-nav-bar {
   display: block;
   float: left;
 }

 .user-nav-bar > li {
   display: block;
   float: left;
   padding-right: 20px;
 }

 .user-nav-bar li:hover {
   color: #f50;
 }

 .content {
   width: 900px;
   margin: 0 auto;
   background: white;
   padding-bottom: 20px;
   /*padding: 20px;
   padding-top: 0;*/
 }

 .upload-profile-pic {
   z-index: 1;
   position: absolute;
   right: 665px;
   top: 220px;
   width: 90px;
   height: 30px;
   text-align: center;
   font-size: 13px;
   border-radius: 5px;
   color: white;
   background: #f50;
 }

 .index-track-header {
   width: 860px;
   font-size: 24px;
   margin: auto;
   text-align: center;
   padding: 20px;
 }

 .search-result-item {
   width: 300px;
   height: 35px;
   border: 1px solid #eee;
   background: white;
 }

 .search-result-item:hover {
   background: #f50;
   color: white;
   border: 1px solid black;
   cursor: pointer
 }

 .search-result-list {
   padding-bottom: 10px;
 }

 .delete {
   width: 70px;
   height: 30px;
   padding: 5px 2px;
 }

 .playlist-banner {
   position: relative;
   height: 300px;
   color: white;
 }

 .playlist-heading {
   position: absolute;
   left: 100px;
   top: 60px;
   display: inline-block;
   font-weight: normal;
   font-size: 24px;
   background: black;
   opacity: 70%;
 }

 .creator-heading {
   position: absolute;
   left: 100px;
   top: 25px;
   display: inline-block;
   font-weight: normal;
   font-size: 24px;
   background: black;
   opacity: 70%;
 }

 .description {
   width: 700px;
   padding-bottom: 30px;
   margin: auto;
 }

 .track-landscape {
   margin: auto;
   width: 600px;
   height: 200px;
   display: block;
 }

 .track-landscape > img {
   float: left;
   padding-right: 15px;
   width: 160px;
   height: 160px;
 }

 .track-landscape > .track-nopic > div {
   padding-right: 20px;
 }

 .track-landscape > .track-nopic {
   float: right;
   width: 420px;
   height: 190px;
 }

 .track-landscape > .track-nopic > .track-info {
   float: left;
 }

 .track-landscape > .track-nopic > .track-info > h1 {
   padding-bottom: 20px;
 }

 .play-button-container {
   float: left;
   width: 40px;
   height: 40px;
 }

 .track-banner {
   position: relative;
   height: 300px;
   color: white;
 }

 .track-heading {
   position: absolute;
   left: 100px;
   top: 65px;
   padding: 10px 8px;
   display: inline-block;
   font-weight: normal;
   font-size: 24px;
   background: black;
   opacity: 70%;
 }

 .track-banner > .track-image-container {
   width: 260px;
   height: 260px;
   position: absolute;
   left: 600px;
   bottom: 20px;
 }

 .track-banner > .track-image-container > img {
   width: 100%;
   height: auto;
 }

 .artist-heading {
   position: absolute;
   padding: 7px 3px;
   left: 100px;
   top: 25px;
   display: inline-block;
   font-weight: normal;
   font-size: 16px;
   background: black;
   opacity: 70%;
 }

 .track-playlists {
   width: 700px;
   margin: auto;
 }

 .playlist-show > a {
   display: block;
   background: #f50;
   text-align: center;
   color: white;
   padding: 10px 20px;
   border-radius: 10px;
   box-sizing: border-box;
 }


 .ReactModal__Overlay--after-open {
   opacity: 1;
   transition: opacity 150ms ease-out;
 }

 .ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
  transform: scale(0.5) rotateX(-30deg);
}

 .ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}
