// Place all the styles related to the Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banner {
  width: 900px;
  height: 450px;
  margin: 0;
  background: url("https://s3.amazonaws.com/soundsallaround-pro/seeds/banner3.jpg") center no-repeat;
}

.user-banner {
  height: 260px;
}

.track-portrait {
  position: relative;
}

.track-portrait > img {
  width: 160px;
  height: 160px;
  z-index: 1;
}

.track-portrait > .play-button-container {
  position: absolute;
  right: 60px;
  top: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: -5;
  background: url("https://s3.amazonaws.com/soundsallaround-pro/seeds/play_baby_play.png") center no-repeat;
  background-size: contain;
}

.track-img:hover {
  z-index: -100;
}

.track-portrait > .playing {
  z-index: 3;
  background: url("https://s3.amazonaws.com/soundsallaround-pro/seeds/pause_button.png") center no-repeat;
  background-size: contain;
}

.track-landscape > .track-nopic > .play-button-container {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: url("https://s3.amazonaws.com/soundsallaround-pro/seeds/play_baby_play.png") center no-repeat;
  background-size: contain;
}

.track-banner > .play-button-container {
  width: 80px;
  height: 80px;
  margin-left: 10px;
  margin-top: 20px;
  background: url("https://s3.amazonaws.com/soundsallaround-pro/seeds/play_baby_play.png") center no-repeat;
  background-size: contain;
}

.track-landscape > .track-nopic > .playing {
  background: url("https://s3.amazonaws.com/soundsallaround-pro/seeds/pause_button.png") center no-repeat;
  background-size: contain;
}

.track-banner > .playing {
  background: url("https://s3.amazonaws.com/soundsallaround-pro/seeds/pause_button.png") center no-repeat;
  background-size: contain;
}

canvas {
  display: block;
  position: relative;
}

.show-canvas {
  top: 200px;
  display: block;
  position: relative;
}
